<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetDevShop - O petshop do dev</title>
    <link rel="stylesheet" href="/css/style.css" />{{! coloquei uma / na fente do css para pegar desde o inicio }}
    <link rel="icon" type="image/png" href="/images/favicon.png" />{{! coloquei uma / na fente do images para pegar desde o inicio }}
</head>
<body>
<header>
    <div class="container">
        <a href="/">PetDevShop</a> {{! rota home }}
        <form method="GET" action="/search">{{! rota search lá do index.js }}
            <input type="search" name="q" placeholder="Pesquise por raça" value="{{query}}" /> {{! se tiver uma query (busca) especifica ele imprimi o value (busca digitada no input) de volta no input após resultado }}
        </form>
    </div>
</header>
<nav>
    <ul>
        <li class="{{#menu.all}}active{{/menu.all}}"><a href="/">Todos</a></li>{{! se a rota home "/" existir }}
        <li class="{{#menu.dog}}active{{/menu.dog}}"><a href="/dogs">Cachorros</a></li>{{! se a rota cachorros "/dogs" existir }}
        <li class="{{#menu.cat}}active{{/menu.cat}}"><a href="/cats">Gatos</a></li>{{! se a rota gatos "/cats" existir }}
        <li class="{{#menu.fish}}active{{/menu.fish}}"><a href="/fishes">Peixes</a></li>{{! se a rota peixes "/fishes" existir }}
    </ul>
</nav>
